#calendarioTeatro {
    transform: scale(2);
    transform-origin: top left;
}

.flatpickr-calendar {
    background: rgba(255, 255, 255, 0.2) !important;
    color: #fff;
    border-radius: 12px;
}

/* Letras */
.flatpickr-day {
    color: #ffffff !important;
    font-weight: bold !important;
}

/* Hoy */
.flatpickr-day.today {
    border: 1px solid #ff8800 !important;
    color: #ff8800 !important;
}

/* Seleccionado */
.flatpickr-day.selected {
    background: #c06a3f !important;
    color: white !important;
}

/* Ocupados */
.flatpickr-day.ocupada {
    background: #774910 !important;
    color: #000 !important;
    border-radius: 8px;
  
    cursor: not-allowed !important;
}

/* Semana */
.flatpickr-weekday {
    color: #ffd27f !important;
}

/* Cabecera */
.flatpickr-months {
    background: #ff6b1f !important;
    color: #fff !important;
    border-radius: 12px 12px 0 0;
}


.calendar-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
}